button {
    border: 0.5px solid white;
}

button > span {
    margin: 5px;
    text-align: center;
    align-content: center;
    color: black;
    font-weight: bold; 
    width: 10rem;
}


button:active {
    transform: translateY(2px);
}