button {
    border: 0.5px solid white;
    border-radius: 10px;
    width: 15rem;
    height: 2.3rem;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;
    border: none;
}

button > span {
    color: black;
    font-weight: bold; 
}


button:active {
    transform: translateY(2px);
    
}

.main-menu-button {
    background-color: #FF0000;
    font-size: 1.2em;
    font-family: 800;
}