
.card {
    border: 0.5px solid #ddd;
    margin: 10px 23px;
    padding: 5px;
    transition: all 0.3s ease;
    background-color: #FF5F1F;
}

.card-header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.card-title, .card-price {
    color: white;
}

.card-title {
    flex: 1;
    text-align: right;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.2em;
    font-weight: 700;

}

.card-price {
    flex: 1;
    text-align: left;
}

.card-content {
    text-align: center;
}

.card.expanded {
    background-color: #FF5F1F;
    padding: 12px;
}

.card.expanded .card-title, .card.expanded .card-price {
    color: white;
}