/* Card.css */
.card {
    border: 1px solid #ddd;
    margin: 10px 27px;
    padding: 10px;
    transition: all 0.3s ease;
}

.card-header {
    font-weight: bold;
    cursor: pointer;
}

.card-content {
    padding: 10px 0;
}

.card.expanded {
    background-color: #f9f9f9;
    padding: 20px;
}
