/* card.css */
.card {
    border: 0.3px solid #ddd;
    margin: 10px 23px;
    padding: 8px;
    background-color: #FF5F1F; 
    transition: padding 0.3s ease; 
}

.card-header {
    display: flex;
    flex-direction: row-reverse; 
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.card-title, .card-price {
    color: white; 
}

.card.expanded .card-header {
    padding: 10px; 
}

.card-title {
    flex: 1;
    text-align: right;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.2em;
    font-weight: 900;
    letter-spacing: 1px;
}

.card-price {
    flex: 1;
    text-align: left;
    letter-spacing: -0.8px;
}

.card-content {
    text-align: center;
    padding-top: 3%;
    margin-left: 3%;
    margin-right: 3%;
    min-height: auto;
}

.card.expanded {
    padding: 15px; /* Ensure padding changes only affect the overall card */
    min-height: auto;
}

