body, html {
    width: 100%;
}

.main{
    display: flex;
    flex-direction: column;
    padding: 10px;
}

h2 {
    color: white;
}

.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.welcome-text, .description-1{
    direction: rtl;
    line-break: pre;
    margin-right: 7%;
    margin-left: 6%;
}



.welcome-text {
    font-weight: 900;
    letter-spacing: 0.8px;
    margin-top: 15%;
}


.description-1{
    margin-left: 5%;
    line-height: normal;
    min-height: auto;
}



.description-1 p {
    letter-spacing: -0.2px;
    font-size: 1.2em;
}



#branch2{
    position: relative;
    bottom: 15px;
}

.home-illust {
    position: relative;
    bottom: 25px;
    margin-left: 20%;
    max-height: 15rem;
    max-width: 3rem;
}

.home-illust img {
    max-width: auto;
    max-height: auto;
}



.buttons-container {
    position: relative;
    bottom: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
}




.bounce{
    margin-right: 48%;
    margin-top: 15%;
    transform: scale(-1, -1);
}


.extra img {
    width: 100%;
}
  

.menu-groups-container {
    padding-bottom: 50px;
    margin-right: 5%;
    margin-left: 5%;
}


