body, html {
    width: 100%;
}

.main{
    display: flex;
    flex-direction: column;
    padding: 10px;
}

h2 {
    color: white;
}

.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.welcome-text, .description{
    direction: rtl;
    margin-right: 7%;
    margin-left: 6%;
    
}

 
.welcome-text {
    font-weight: 900;
    letter-spacing: 1px;
    margin-top: 15%;
}


.description{
    width: 20.5rem;
    margin-top: 4.2%;
    margin-left: 5%;
}



.description span {
    letter-spacing: 0.2px;
    font-size: 1.2em;
}

#text1 {
    display: block;
    font-size: 1.2em;
    font-weight: 500;
}


#branch2{
    display: inline-block;
    padding-top: 12px;
    width: auto;
    padding-top: 20px;
}

.home-illust {
    position: relative;
    top: 50px;
    margin-left: 18%;
    max-height: 15rem;
    max-width: 3rem;
}

.home-illust img {
    max-width: auto;
    max-height: auto;
}



.buttons-container {
    position: relative;
    top: 80px;
    display: flex;
    flex-direction: column;
    gap: 13px;
    justify-content: center;
    align-items: center;
}
  

.img-fluid {
    max-width: 100%; 
    height: auto;
}

.custom-img {
    padding: 4%;
    max-width: 100%;
    position: relative;
    top: 10rem;
    border-radius: 25px;
}


.menu-groups {
    margin-top: 55%;
    padding-bottom: 40px;
    margin-right: 1%;
    margin-left: 1%;

}
  



@media only screen and (min-width: 992px) {

    .welcome-text {
        margin-right: 10%;
        min-width: 50%;
        margin-top: 8%;
        font-weight: 900;
        letter-spacing: 0.8px;
    }

    
    
    .description{
        line-height: normal;
        min-height: auto;
        margin-right: 10%;
        
    }

    #branch2 {
        margin-top: 10px;
    }

    .home-illust {
        margin-top: 5%;
        margin-left: 2px;
        position: absolute;
        left: 10%;
        top: 10%;
        min-width: 30%;
    }

    .home-illust img {
        min-width: 15rem;
        max-height: 15rem;
    }

    #text1 {
        width: 50%;
    }

    #branch2 {
        width: 50%;
    }

    .buttons-container {
        display: flex;
        flex-direction: row-reverse;
        position: relative;
        margin-top: 5%;
        bottom: 20px;
        gap: 7.5%;
    }

    .menu-groups {
        margin-top: 20%;
        margin-right: 8.6%;
        margin-left: 8.6%;
    }

    .menu-groups {
        margin-top: 18%;

    }

    .home-images {
        display: flex;
        flex-direction: row-reverse;
    }

    .home-images img {
        flex: 1;
        margin: 10px; 
    }

    .middle-img {
        margin-top: 26%; 
    }
    
    footer span{
        letter-spacing: 2px;
    }

    .icons-container {
        gap: 10%;
    }


}