ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 600;
}

ul li {
    list-style: none;
}


.menu-list {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    padding-right: 4%;
    padding-left: 4%;
    gap: 5px;
}



.menu-list a.active {
    background-color: white;
    border-radius: 10px;
    width: 6px;
    height: fit-content;
    color: #FF5F1F;
    padding: 4px;
}

.content {
    margin-top: 20px;
}
