ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 700;
}

ul li {
    list-style: none;
}


.menu-list {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    padding-right: 4%;
    padding-left: 4%;
    gap: 5px;
}



.menu-list a.active {
    background-color: white;
    border-radius: 10px;
    width: 7px;
    height: fit-content;
    color: #FF5F1F;
    padding: 6px;
}

.content {
    margin-top: 20px;
}



@media only screen and (min-width: 992px) {
    ul li a {
        font-size: 1.2em;
        font-weight: 600;
    }
}

.winking-text {
    font-size: 2em;
    font-weight: bold;
    animation: color-wink 1s infinite alternate;
}

@keyframes color-wink {
    0% {
        color: white;
        text-shadow: 0 0 5px rgba(255, 255, 255, 0.6),
                     0 0 10px rgba(255, 255, 255, 0.6);
    }
    50% {
        color: yellow;
        text-shadow: 0 0 10px rgba(255, 255, 255, 0.8),
                     0 0 20px rgba(255, 255, 255, 0.8);
    }
    100% {
        color: white;
        text-shadow: 0 0 5px rgba(255, 255, 255, 0.6),
                     0 0 10px rgba(255, 255, 255, 0.6);
    }
}